[Unit]
Description=Consul server
After=network.target

[Service]
User={{ consul_user }}
Group={{ consul_group }}
Environment="GOMAXPROCS=2"
ExecStart={{ consul_executable }} agent -config-dir {{ consul_conf_path }}
ExecReload=/bin/kill -9 $MAINPID
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target